
/* Reset settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    font-family: Helvetica;
}

/* Beginning Header of the page */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: black;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header img, header nav {
    display: inline;
}
header nav {
    margin-right: 10px;

}

nav ul li {
    display: inline;
    text-decoration: underline;
    margin-left: 15px;
}

/* Mission section of the page */

main {
    position: relative;
    top: 69px;
    z-index: 0;
}

.mission {
    background-image: url(images/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 40px; /* was added while doing Tea of the month section */
}

.mission-statement {
    background-color: black;
    width: 1200px;
    text-align: center;
}
.mission-statement h2, .mission-statement h4 {
    padding: 5px;
}

/* Tea of the Month section of the page */

.Tea-of-the-month {
    width: 1000px;
    margin: auto;
}

.Tea-of-the-month-intro {
    text-align: center;
    margin-top: 40px;
}

.TOTMI h2, .TOTMI p {
    padding: 10px;
}

figure.tea-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
    margin-top: 10px;
}
.types-of-tea img {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.types-of-tea p {
    text-align: center;
}

/* Location section of the page */

.Location {
    background-image: url(images/img-locations-background.webp);
    height: 500px;
    width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.location-address {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
    margin: 15px 20px 15px 20px;
}

.Location-content h2 {
    margin-bottom: 15px;
}

/* Footer Section */

footer {
    position: relative;
    top: 69px;
    margin-top: 10px;
    text-align: center;
    height: 200px;
}

footer h2, footer h5 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 30px;
}
p.Copyright {
    text-align: left;
    margin-left: 20px;
}
