
/* Reset settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    font-family: Helvetica;
}

/* Beginning Header of the page */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: black;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header img, header nav {
    display: inline;
}
header nav {
    margin-right: 10px;

}

nav ul li {
    display: inline;
    text-decoration: underline;
    margin-left: 15px;
}
/* End Header of the page */

/* Main section of the page */

main {
    position: relative;
    top: 69px;
    z-index: 0;
}

.mission {
    background-image: url(images/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.mission-statement {
    background-color: black;
    width: 1200px;
    text-align: center;
}
.mission-statement h2, .mission-statement h4 {
    padding: 5px;
}
