
/* Reset settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    font-family: Helvetica;
}

/* Beginning Header of the page */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header img, header nav {
    display: inline;
}
header nav {
    margin-right: 10px;

}

nav ul li {
    display: inline;
    text-decoration: underline;
    margin-left: 15px;
}
/* End Header of the page */
